<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Мои заметки</title>
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header :: header"></header>

<main style="margin-top: 100px">
    <div class="container mt-5" >
        <div class="row" th:if="${not #lists.isEmpty(notes)}">
            <div th:each="note : ${notes}" class="col-md-4">
                <div class="card mb-4 fixed-card">
                    <div class="card-body">
                        <p class="text-muted" style="font-size: 14px; position: absolute; bottom: 0; left: 5px;"
                           th:text="${#temporals.format(note.lastModified, 'dd.MM.yy HH:mm')}"></p>

                        <h5 class="card-title" th:text="${note.title}"></h5>
                        <div class="card-text" th:utext="${note.text}"></div>
                        <div class="card-actions">
                            <form th:action="@{/note/delete}" method="post" class="btn-form">
                                <input type="hidden" name="note_id" th:value="${note.id}">
                                <button type="submit" class="btn btn-danger btn-actions">Удалить</button>
                            </form>
                            <form th:action="@{/note}" method="get" class="btn-form">
                                <input type="hidden" name="note_id" th:value="${note.id}">
                                <button type="submit" class="btn btn-primary btn-actions">Изменить</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="footer :: footer"></footer>
</body>
</html>