<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать заметку</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="js/main.js" type="text/javascript" defer></script>
</head>
<body>
<header th:insert="header :: header"></header>
<main style="margin-top: 100px">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Редактировать заметку</h4>
          </div>
          <div class="card-body">
            <form th:action="@{/note/create}" method="post">
              <div class="form-group" >
                <label for="title">Заголовок:</label>
                <input type="text" class="form-control" id="title" name="title" th:value="${note.title}" maxlength="255" required>
              </div>
              <div class="form-group">
                <label for="text">Текст заметки:</label>
                <textarea class="form-control" id="text" name="text" rows="4" th:text="${note.text}"></textarea>
              </div>
              <input type="hidden" name="note_id" th:value="${note.id}">
              <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <a href="/home" class="btn btn-secondary mt-3">Назад</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


<footer th:insert="footer :: footer"></footer>
</body>
</html>