<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="header :: header"></header>
<main style="margin-top: 100px">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Регистрация</h4>
          </div>
          <div class="card-body">
            <div th:if="${error}" class="alert alert-danger" role="alert">
              <span th:text="${error}"></span>
            </div>
            <form th:action="@{/registration}" method="post">
              <div class="form-group">
                <label for="username">Email:</label>
                <input type="email" class="form-control" id="username" name="username" placeholder="Введите ваш email" required>
              </div>
              <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Введите пароль" required>
              </div>
              <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<footer th:insert="footer :: footer"></footer>
</body>
</html>